*{
    margin: 0;
    padding: 0;
}
.wrapper{
    max-width:100%; 
	margin-left: auto;
    margin-right: auto;
	background: #FFF;
}
.wrapper div.header_mobile{
    max-width:100%; 
	margin-left: auto;
    margin-right: auto;
	background: green;
}
a{
	color:white; 
	font-size:22px;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
#header{
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr;
	height: 70px;
	background:  #6d4d16;
	margin:0px 100px 0px 100px;
	border: outset;
	border-color: #a97622 #8b621c #1c1406 #8b621c ;
	border-width: 18px; 
	border-radius: 5px;
	box-shadow:  0 0 6px;
}
.header_ref_mobile{
    background: #6d4d16;
    border-bottom: 1px solid #674815;
    display: flex;
    justify-content: center;

}
.header_ref_mobile a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
}
.butten_menu{
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1.5%;
}

.border_top{
    border-top: 2px solid #b47f24;
    border-bottom: 1px solid #7e5919;
}
.header_ref_mobile:hover{
    background: #674815;
}

.border_bottom{
    border-bottom: 3px solid black;
}

.header_ref_mobile.main_menu{
    border-top: 1px solid #674815;
}

#main{
	background-image: url(img/pic_header.jpg);
    height: 100%;
	min-height: 210px;
}

.butten_menu{
    display: flex;
    justify-content: center;
}

.header_menu{
	display: grid;
	grid-template-columns:2fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

.header_ref {
	display: flex;
	align-items: center;
    justify-content: center;
}


.header_span{
	color:#fff;
	font-size: 25px;
}

.header_button {
	display: grid;
}

#btn-call_mobile{
	background: #eed09d;
	color:#000;
	text-decoration: none;
	border: 1px solid #eed09d;
    border-radius: 7px;
    padding-left: 4px;
    padding-right: 4px;
}
a#btn-call_mobile:hover{
    background: #e9bd70;
    border-color: #e9bd70;
}
#btn-call_mobile{
    display: flex;
    align-items: center;

}

#btn-call{
	background: #eed09d;
	color:#000;
	text-decoration: none;
	border: 6px solid #eed09d;
	border-radius: 7px;
}
a#btn-call:hover{
    background: #e9bd70;
    border-color: #e9bd70;
}

.container{
    max-width: 1140px;
    width: calc(100% - 40px);
    margin: 0 auto;
	background: #FFF;
}

.shadow_inset{
    margin: 0 auto;
    height: 505px;
    max-width: 905px;
    min-width: 405px;
    box-shadow: 0px 0px 13px 1px #606060 inset;
}
div.container_calc{
    display: grid;
    grid-template-areas:
    "blank blank blank blank blank"
    "fence fence . . ."
    "fence fence equally result rub"
    "meter m_2 . . ."
    "butten butten butten butten butten";
    border: 5px solid;
    height: 500px;
    max-width: 900px;
    min-width: 400px;
    box-shadow: 0px 0px 13px 1px #606060;
}

div.fence_type select {
    text-indent: 7px;
    color: black;
    border-color: black;
}

.fence_type select{
    border: 1px solid;
    height: 80px;
    width: 380px;
    -webkit-appearance: none;/* Chrome */
    -moz-appearance: none;/* Firefox */
    appearance: none;/* убираем дефолнтные стрелочки */
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.fence_type:after {
    content: "";
    border-style: solid;
    border-width: 30px 21px 0 21px;
    border-color: #3bd687 transparent transparent transparent;
    pointer-events: none;
    position: relative;
    left: 150px;
    bottom: 90px;
}
.blank{
    grid-area: blank;
    height: 30px;
}
div.fence_type{
    display: grid;
    justify-items: center;

    grid-area: fence;
}
div.meter{
    display: grid;
    justify-items: end;
    grid-area: meter;
    height: 90px;
}
div.meter input{
    font-size: 50px;
    height: 75px;
    width: 175px;
}
.m_2{
    display: grid;
    position: relative;
    bottom: 13px;
    left: 10px;
    grid-area: m_2;
    font-size: 70px;
}
.equally{
    grid-area: equally;
    font-size: 95px;
    display: grid;
    align-items: end;
}
.result{
    display: grid;
    align-items: end;
    grid-area: result;
    font-size: 60px;
}
div.result output{
    display: block;
    width: 200px;
    height: 75px;
    border-bottom: 5px solid;
}
.rub{
    position: relative;
    bottom: 8px;
    display: grid;
    align-items: end;
    grid-area: rub;
    font-size: 70px;
}
div.butten_result{
    display: grid;
    justify-content: center;
    grid-area: butten;
}
div.butten_result input[type="button"]{
    width: 500px;
    border: none;
    padding-left: 80px;
    padding-right: 80px;
    background: #3bd687;
    height: 80px;
    font-size: 30px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 250ms ease-in-out;
}
div.butten_result input[type="button"]:hover{
    background: #25a763;
}


.content_text{
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 25px;
}
div.activ a{
    padding-top: 2px;
    text-decoration: none;
}
div.footer{
	background:#6d4d16 ;
	display: flex;
	border: outset;
	border-color: #a97622 #8b621c #1c1406 #8b621c ;
	border-width: 18px; 
	border-radius: 5px;
	box-shadow:  0 0 6px;
}
div.footer__menu{
	padding-left: 5%

}
a.footer__button__menu{
	color:white;
	text-decoration: none;
}
div.footer__mail{
	padding-left: 35%;
	padding-top: 0.5%;
	color: white;
	font-size: 150%;
}
div.footer__menu__button_mobile{
    display: flex;
    justify-content: center;
    background:#6d4d16;
    border-top: 1px solid #664815;
}
div.footer__menu__button_mobile a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
}
div.footer__menu__button_mobile:hover{
    background: #674815;
}

div.footer__mail_mobile{
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
}
div.butten_call{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
div.butten_call input[type="button"]{
    width: 800px;
    border: none;
    padding-left: 80px;
    padding-right: 80px;
    background: #3bd687;
    height: 90px;
    font-size: 35px;
    border-radius: 10px;
    text-decoration: none;
    transition: background 250ms ease-in-out;
}
div.butten_call input[type="button"]:hover{
    background: #25a763;
}
@media screen and (min-width: 800px) {
    
    div.container_center_mobile{
        display: none;
    }
}
@media screen and (max-width: 800px) {
   
    div.shadow_inset{
        display: none;
    }
}
.shadow_inset_mobile{
    margin: 0 auto;
    height: 355px;
    max-width: 555px;
    min-width: 305px;
    box-shadow: 0px 0px 13px 1px #606060 inset;
}
div.container_calc_mobile{
    display: grid;
    grid-template-areas:
    "blank blank blank blank"
    "fence fence . ."
    "fence fence equally ."
    "meter m_2 result rub"
    "butten butten butten butten";
    border: 5px solid;
    height: 350px;
    max-width: 550px;
    min-width: 300px;
    box-shadow: 0px 0px 13px 1px #606060;
}

div.fence_type_mobile select {
    text-indent: 2px;
    color: black;
    border-color: black;
}

div.fence_type_mobile select{
    border: 1px solid;
    max-height: 40px;
    max-width: 180px;
    -webkit-appearance: none;/* Chrome */
    -moz-appearance: none;/* Firefox */
    appearance: none;/* убираем дефолнтные стрелочки */
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
div.fence_type_mobile:after {
    content: "";
    border-style: solid;
    border-width: 15px 8px 0 8px;
    border-color: #3bd687 transparent transparent transparent;
    pointer-events: none;
    position: relative;
    left: 75px;
    bottom: 47px;
}
div.blank{
    grid-area: blank;
}
div.fence_type_mobile{
    display: grid;
    justify-items: center;
    grid-area: fence;
}
div.meter_mobile{
    display: grid;
    justify-items: center;
    grid-area: meter;
    height: 40px;
}
div.meter_mobile input{
    font-size: 20px;
    height: 40px;
    width: 100px;
}
.m_2_mobile{
    display: grid;
    position: relative;
    bottom: 5px;
    right: 12px;
    grid-area: m_2;
    font-size: 35px;
}
.m_2_mobile p{
    max-width: 20px;
}
.equally_mobile{
    position: relative;
    right: 1em;
    grid-area: equally;
    font-size: 40px;
    display: grid;
    align-items: center;
    justify-items: center;
}
.result_mobile{
    display: grid;
    align-items: start;
    justify-items: end;
    grid-area: result;
    font-size: 23px;
}
div.result_mobile output{
    display: block;
    width: 100px;
    height: 40px;
    border-bottom: 2px solid;
}
.rub_mobile{
    display: grid;
    align-items: end;
    grid-area: rub;
    font-size: 30px;
    display: grid;
    align-items: start;
}
div.butten_result_mobile{
    display: grid;
    justify-content: center;
    grid-area: butten;
}
div.butten_result_mobile input[type="button"]{
    width: 200px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    background: #3bd687;
    height: 50px;
    font-size: 17px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 250ms ease-in-out;
}
div.butten_result_mobile input[type="button"]:hover{
    background: #25a763;
}
div.butten_call_mobile{
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

div.butten_call_mobile input[type="button"]{
    width: 300px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    background: #3bd687;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 250ms ease-in-out;
}
div.butten_call_mobile input[type="button"]:hover{
    background: #25a763;
}
@media screen and (min-width: 800px) {
    div.butten_call_mobile{
        display: none;
    }
}
@media screen and (max-width: 800px) {
    div.butten_call{
        display: none;
    }
}


.form__title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.form__label {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.08);
    height: 35px;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.form__input {
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    box-sizing: border-box;
    position: absolute;
    z-index: 100;
    background: transparent;
    padding: 0 15px;
    color: #314c4c;
    font-weight: 300;
    font-size: 15px;
}

.form__placeholder {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* border: 1px solid green; */
    position: absolute;
    padding: 0 15px;
    display: flex;
    align-items: center;
    color: #314c4c;
    font-weight: 300;
    font-size: 15px;
    transition: 0.2s all;
}

.form__placeholder_active {
    transition: 0.2s all;
    transform: translate(-12px, -12px);
    font-size: 10px;
}

.form__button {
    width: 100%;
    margin: 0 auto;
    height: 35px;
    background: #3bd687;
    color: #fff;
    margin-top: 20px;
    transition: 0.2s all;
    
}

.form__button:hover {
    background: #192f2f;
}

.form__close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 26px;
    transition: 0.2s all;
    color: black;

    
}


.form__close:hover {
    transform: rotate(90deg);
    text-decoration: none;
}


.form__subtitle {
    text-align: center;
    margin: 20px 0;
    margin-bottom: 40px;
    font-weight: 300;
    color: #192f2f;
    font-size: 20px;
}

.form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    z-index: 100;
}

.form-wrapper__text {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    z-index: 100;
}

.form-wr {
    width: 300px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.80);
    padding: 50px 30px;
    padding-top: 40px;
    box-sizing: border-box;
    position: relative;
    border: outset;
    border-color: #a97622 #8b621c #1c1406 #8b621c ;
    border-width: 18px; 
    border-radius: 5px;
}

.form-wr__text {
    width: 300px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.80);
    padding: 50px 30px;
    padding-top: 40px;
    box-sizing: border-box;
    position: relative;
}